@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Beatrice';
  src: url('/assets/fonts/Beatrice-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Beatrice';
  src: url('/assets/fonts/Beatrice-Medium.woff2') format("woff2");
  font-weight: 500;
  font-display: swap;
}

/* StarRating.css */
.star-rating {
  display: flex;
  justify-content: space-around;
}

.star {
  font-size: 30px;
  margin-left: 3px;
}

.star svg {
  fill: #ccc;
}

.star.filled svg {
  @apply fill-swatch-400;
}

button {
  @apply transition;
}

.ant-btn {
  @apply rounded-lg;
  @apply px-5;
  @apply py-3;
  @apply h-14;
  @apply text-lg;
  @apply transition;
}

.ant-btn-primary {
  @apply bg-swatch-400;
  @apply text-white;
}

.ant-modal-title {
  @apply text-3xl !important;
}

.ant-modal-content {
  @apply p-8 !important;
}

.ant-btn-default:not(:disabled):hover {
  @apply text-white !important;
}

